@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure the toggle has proper z-index and cursor */
.relative.inline-block {
  z-index: 1;
}

/* Toggle Switch Styles */
.toggle-checkbox {
  right: 0;
  z-index: 1;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.toggle-checkbox:checked {
  right: 24px;
  border-color: #fff;
}

.toggle-label {
  width: 48px;
}

.toggle-checkbox:focus {
  outline: none;
}
